<% content_for :hero do %>
  <div class="all-itineraries">
    <h2>See Sample Itineraries Made By <strong class="animated flash">Locals</strong></h2>
  </div>
<% end %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">

    <% @itineraries.each do |itinerary| %>
      <div class="col-md-4">
        <a href="/itineraries/<%= itinerary.id %>" class="itinerary">

          <img src="<%= itinerary.image_url %>" />
          <h4><%= itinerary.description %></h4>
          <h4><%= itinerary.location %></h4>
        </a>
      </div>
    <% end %>

  </div>
</div>
